<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- IIS → Node -->
    <handlers>
      <add name="iisnode"
           path="server.js"
           verb="*"
           modules="iisnode" />
    </handlers>

    <!-- ALLOW DELETE METHOD -->
    <security>
      <requestFiltering>
        <verbs allowUnlisted="true">
          <add verb="DELETE" allowed="true" />
          <add verb="PUT" allowed="true" />
          <add verb="PATCH" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>

    <!-- URL REWRITE -->
    <rewrite>
      <rules>

        <!-- API -->
        <rule name="API" stopProcessing="true">
          <match url="^api/.*" />
          <action type="Rewrite" url="server.js" />
        </rule>

        <!-- UPLOADS -->
        <rule name="Uploads" stopProcessing="true">
          <match url="^uploads/.*" />
          <action type="None" />
        </rule>

        <!-- FRONTEND -->
        <rule name="React" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>

      </rules>
    </rewrite>

    <iisnode
      nodeProcessCommandLine="C:\Program Files\nodejs\node.exe"
      loggingEnabled="true"
      devErrorsEnabled="true"
    />

  </system.webServer>
</configuration>
