<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- IIS → Node -->
    <handlers>
      <add name="iisnode"
           path="server.js"
           verb="*"
           modules="iisnode" />
    </handlers>

    <!-- URL REWRITE -->
    <rewrite>
      <rules>

        <!-- API -->
        <rule name="API" stopProcessing="true">
          <match url="^api/.*" />
          <action type="Rewrite" url="server.js" />
        </rule>

        <!-- UPLOADS -->
        <rule name="Uploads" stopProcessing="true">
          <match url="^uploads/.*" />
          <action type="None" />
        </rule>

        <!-- FRONTEND (React SPA) -->
        <rule name="React" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>

      </rules>
    </rewrite>

    <!-- iisnode settings -->
    <iisnode
      nodeProcessCommandLine="C:\Program Files\nodejs\node.exe"
      loggingEnabled="true"
      devErrorsEnabled="true"
      node_env="production"
    />

    <!-- Static files -->
    <staticContent>
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>

  </system.webServer>
</configuration>
